CONFIG_SMP=y

# Virtual 9P networking device
CONFIG_NET_9P=y
CONFIG_NET_9P_DEBUG=n
CONFIG_9P_FS_POSIX_ACL=n
CONFIG_9P_FS_SECURITY=n
CONFIG_VIRTIO_NET=y
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_VIRTIO_BALLOON=n

# Support virtio PCI devices
CONFIG_VIRTIO_PCI=y

# Support 9P-based filesystem exports.
CONFIG_NET_9P_VIRTIO=y
CONFIG_9P_FS=y

# Needed for the virtio HDD
CONFIG_VIRTIO_BLK=y

# Needed for the virtio console
CONFIG_VIRTIO_CONSOLE=y

CONFIG_EARLY_PRINTK=y

# Build with debug symbols
# _REDUCED gives significantly better build times, but still keeps key symbols around
# Drop it if you're going to be doing serious kernel debugging.
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_REDUCED=n
CONFIG_DEBUG_INFO_SPLIT=y
CONFIG_DEBUG_INFO_DWARF4=y
